<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>My Personal Blog</title>
</head>
<body>
    <div id="container">
    <header>
        <a href="index.html"
        ><img
            src="images/logo.png" 
            alt="CS logo"
            ></a>
    </header>
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">About Me</a></li>
            <li><a href="eduandwork.html">Education and Work experience</a></li>
            <li><a href="contactme.html">Contact Me </a></li>
        </ul>
    </nav>
    <main>
        
    </main>
    <footer>
        &copy;copyright 2021. All Rights Reserved. <br> 
    </footer>
</div>
    
</body>
</html>